@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

:root {

    --cheaptalks: #ffc107;

}

* {

    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

.sec-landing {

    height: 150vh;
    max-height: 150vh;
    background-image: url('../assets/bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    /* background-color: #050663; */

}

.sec-container {

    height: inherit;
    background-color: #131212c2;

}

li {

    list-style: none;
    font-size: 1rem;

}

ul {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}

.nav-logo {

    width: 70%;
    min-width: 120px;
    max-width: 250px;

}

.landing-header {

    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    color: white;
    text-align: center;
}

.list-div {

    display: flex;
    justify-content: center;
    align-items: center;

}
/* cheaptalks */
.button-primary {

    color: #ffffff;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 18px;
    font-weight: 500;

}

.button-primary:hover {

    color: #ffffff;
    border: 2px solid #333;
    background-color: #333;
    border-radius: 18px;
    animation: ease-in-out .7s;
    font-weight: 500;

}

.button-cheaptalks-bordered {

    color: #ffffff;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 18px;

}

.button-cheaptalks-solid {

    color: #ffffff;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 18px;

}

.btn-warning {

    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}

.text-cheap {

    color: var(--cheaptalks);
    word-wrap: break-word;
    text-align: center;

}

.text-cheap-h4 {

    color: #fff;
    word-wrap: break-word;
    font-weight: 500;
    text-align: center;

}

/* cheaptalks */

.nav-list-group {

    display: block;

}

.burger-container {

    display: none;

}

.cheaptalks-nav-item {

    color: #5e5e5e;
    font-weight: 400;

}

@media (max-width: 1024px) { /* 280 - Galaxy Fold */
    
    .nav-list-group {

        display: none;

    }

    .burger-container {

        display: inline;
    
    }
    

}

@media (max-width: 280px) { /* 280 - Galaxy Fold */
    
    .nav-logo {

        width: 40%;
        min-width: 120px;
        max-width: 120px;
    
    }

}

/* nav -> burger @ 674 */